div.white.settings
  div.input-field.row.center
    input#opacity_range.opacity-range.validate(type="range"
      v-model="config.opacity"
      @change="onChangeOpacityRange")
    label(for="opacity_range") Opacity {{config.opacity}}
    label.opacity-range(for="opacity_range")
      span.min-range 0
      span.max-range 100
    a.btn(:class="{ red: !clickThrough }", @click="toggleClickThrough")
      i.material-icons crop_3_2
      span Toggle Through
