@require '~stylesheets/variable'

:local {
  .container {
    position: absolute
    top: 60px
    left: 0
    bottom: 0
    right: 0
    overflow: hidden
  }
  .playlistWrapper {
    overflow-x: hidden
    overflow-y: scroll
    position: absolute
    top: 0
    left: 0
    bottom: 40px
    right: 0
  }
  .fileDropperContainer {
    padding: 10px
  }
}
