div(:class="styles.container")
  div(:class="styles.playlistWrapper")
    ul.collection
      li.collection-item item
      li.collection-item item
      li.collection-item item
      li.collection-item item
      li.collection-item item
      li.collection-item item
      li.collection-item item
      li.collection-item item
    div(:class="styles.fileDropperContainer")
      file-dropper
  playlist-footer
