@require '../../variable'

.filer-container {
  display: inline-block;
  position: absolute;
  top: $navbar-height;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}
