div.filer-container
  nav
    div.nav-wrapper
      i.fa.fa-spinner.fa-pulse(v-show='reaction.loadingDir')
      i.material-icons(
        v-for='file in depth' v-on:click='onSelectDepth(file, $index)') search
      span(v-if='depth[0]') {{depth[depth.length-1].name}}
  ul.collection(v-el:nav)
    li.collection-item.file-item(
      v-for='file in filelist'
      v-on:click='selectItem(file)')
      span
        i(:class='file | file2IconName')
      span.truncate {{file.name}}
