script#davneko_nav(type='x-template')

  div
    a.button-collapse.top-nav.full.btn-floating(v-on:click='toggleNav')
      i.mdi-navigation-menu
        
  ul.side-nav.fixed.collection.with-header(v-el:nav)
    div.side-nav-contents
      li.collection-item.file-item(
        v-for='file in filelist' v-on:click='onSelectItem(file)')
        span
          i(:class='file | file2IconName')
        span.truncate {{file.name}}
    div.side-nav-header.fixed
      li.not-selectable.collection-header
        h1(v-on:click='toggleNav') davneko
        div.btn.file-trigger(v-on:click='addFilesAll')
          i.fa.fa-folder-open.yellow-text
          i.fa.fa-arrow-right
      li.collection-item.not-selectable.file-depth
        i.fa.fa-spinner.fa-pulse(v-show='reaction.loadingDir')
        i.mdi-navigation-chevron-right(
          v-for='file in depth' v-on:click='onSelectDepth(file, $index)')
        span(v-if='depth[0]') {{depth[depth.length-1].name}}
