.nn-dialog-content {
  padding: 40px;
  width: 100%;
  .nn-dialog-title {
    font-size: 20px;
  }
  .nn-dialog-text {
    margin-top: 16px;
    font-size: 14px;
    color: #666666;
  }
  .nn-dialog-button-group {
    margin: 32px auto auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
