$service-color-primary: #005bea;
$service-color-primary-lighten-20: #338eff;
$service-color-primary-lighten-40: #66c1ff;
$service-color-primary-darken-20: #0028b7;
$service-color-secondary: #00c6fb;
$background-color-secondary: #f2f3ff;

$palette-orange-l3: #FED6C3;
$palette-black-l3: #808C7D;
$palette-red-l3: #E89CBB;
$palette-blue-l3: #BBBBDD;
$palette-green-l3: #D5E3CA;

$palette-orange-l2: #FDBA9B;
$palette-black-l2: #6C7769;
$palette-red-l2: #E07BA5;
$palette-blue-l2: #9F9FD0;
$palette-green-l2: #C1D5AF;

$palette-orange-l1: #FD9E72;
$palette-black-l1: #586156;
$palette-red-l1: #D85A8E;
$palette-blue-l1: #8484C2;
$palette-green-l1: #ACC794;

$palette-orange: #fc834a;
$palette-black: #434a42;
$palette-red: #cb2f6f;
$palette-blue: #6666b4;
$palette-green: #97b979;

$palette-orange-d1: #FC6722;
$palette-black-d1: #313630;
$palette-red-d1: #B62B65;
$palette-blue-d1: #5151A4;
$palette-green-d1: #82AB5F;

$palette-orange-d2: #F14F04;
$palette-black-d2: #1D201D;
$palette-red-d2: #952350;
$palette-blue-d2: #444488;
$palette-green-d2: #6C934D;

$palette-orange-d3: #C94203;
$palette-black-d3: #0A0B0A;
$palette-red-d3: #741B3F;
$palette-blue-d3: #37376D;
$palette-green-d3: #59783F;