@font-face {
  font-family: 'jis_z_8903medium';
  src: url('../fonts/jisz8903-medium.eot');
  src: url('../fonts/jisz8903-medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/jisz8903-medium.woff2') format('woff2'),
       url('../fonts/jisz8903-medium.woff') format('woff'),
       url('../fonts/jisz8903-medium.ttf') format('truetype'),
       url('../fonts/jisz8903-medium.svg#jis_z_8903medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

.jis8903 {
  font-family: 'jis_z_8903medium';
}
