body, html {
  width: 100%;
  height: 100%;
}

.controller {
  position: absolute;
  top: 30px;
  right: 0;
  left: 0;
  bottom: 30px;
  margin: auto
  width: 320px;
  background-color: #ffffff;
  border-radius: 5px;
}
