nav.navbar.blue-grey
  div.nav-wrapper
    ul
      li(v-for="tab in tabs" v-on:click="selectTab(tab)")
        a.blue-text.text-lighten-4 {{tab.name}}
    a.btn-floating.right
      i.material-icons(v-on:click="togglePlayer") crop_3_2
