*, *:before, *:after {
  box-sizing: border-box;
}

body, html {
  margin: 0;
}

.controller {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: auto;
  width: 180px;
  height: 200px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
